@model DeadFocus.Models.Quotes

@{
    ViewData["Title"] = "My Dashboard";
}

<style>
    /* This sets the background color for the entire page */
    body {
        background-color: lightblue; /* You can use color names, hex, rgb, or hsl */
        color: #333; /* Optional: text color for better contrast */
        font-family: Arial, sans-serif;
    }
</style>

<div class="text-center">
    <h1 class="display-4">@Model.Quote</h1>
    <p>@Model.Author</p>
    
</div>

<div class="text-center">
    <a class="btn btn-outline-light" asp-area="" asp-controller="Dashboard" asp-action="AddGoal">Add a goal here!</a>
</div>