@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    
    <div class="hero-content">
        
        @* <h1>Dead Focus</h1>

        <p>Track Goals. Build Discipline. Get Better.</p>
 *@
        

        <div  class ="move-div" style="margin: 20px;">
            <a class="btn deadfocus-btn" >If Your New Get Started</a>
        </div>


        <div class="move-div" style="margin: 20px;">
        <a class="btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="Dashboard">My Dashboard</a>
        </div>


        
    </div>
    
</div>
