@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    
    <div class="hero-content">
        
        <h1>Dead Focus</h1>
        
        <p>Track Goals. Build Discipline. Get Better.</p>
        

        
        <a class="btn btn-warning">Get Started</a>
        
    </div>
    
</div>
